<html>
<body>
Pokemon 1: <%= naam1 %> weegt <%= gewicht1 %></br>
Pokemon 2: <%= naam2 %> weegt <%= gewicht2 %></br>
Pokemon 3: <%= naam3 %> weegt <%= gewicht3 %></br>
Pokemon 4: <%= naam4 %> weegt <%= gewicht4 %></br>
Pokemon 5: <%= naam5 %> weegt <%= gewicht5 %></br>
Pokemon 6: <%= naam6 %> weegt <%= gewicht6 %></br>
</body>
</html> 

